*egg-info*
data*
results*
doc*
*pycache*
*log*
*synctex*
*aux*
*.bbl
*.blg
*.out
drivers/oneoffs*
*secret*
SANDBOX*
proposal*
*ipynb_checkpoints*
tests/get_avg_300651846_period.py
tests/test_ecg_audio.py
tests/test_output
papers/*paper*/*pdf
papers/*paper*/*png
papers/*paper*/outline.txt
papers/*paper*/natastro_inquiry/
papers/*paper*/fig2_validation_plots/
papers/*paper*/annotated_lp12502.key
papers/*Bouma_2024_CPVs*/*paper*/*pdf
papers/*Bouma_2024_CPVs*/*paper*/*png
papers/*Bouma_2024_CPVs*/*paper*/outline.txt
papers/*Bouma_2024_CPVs*/*paper*/natastro_inquiry/
papers/*Bouma_2024_CPVs*/*paper*/fig2_validation_plots/
papers/*Bouma_2024_CPVs*/*paper*/annotated_lp12502.key
art/*
drivers/*csv
fig3_validation_plots.tar.gz
fig3_validation_plots/
paper_review
*BACKUP
*_arxiv_*
