*egg-info*
data*
results*
doc*
*pycache*
*log*
*synctex*
*aux*
*.bbl
*.blg
*.out
drivers/oneoffs*
*secret*
SANDBOX*
proposal*
*ipynb_checkpoints*
paper/*pdf
paper/*png
paper/outline.txt
tests/get_avg_300651846_period.py
tests/test_ecg_audio.py
tests/test_output
paper/natastro_inquiry/
paper/fig2_validation_plots/
art/*
paper/annotated_lp12502.key
drivers/*csv
fig3_validation_plots.tar.gz
fig3_validation_plots/
