*egg-info*
data*
results*
doc*
*pycache*
*log*
*synctex*
*aux*
*.bbl
*.blg
*.out
drivers/oneoffs*
*secret*
SANDBOX*
proposal*
*ipynb_checkpoints*
paper/*pdf
paper/*png
paper/outline.txt
tests/get_avg_300651846_period.py
